*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
*.jks
*.keystore
/catalog/apps/generated/*.json
*.jks.b64
*.keystore.b64
/infra/catalog-webhook/.wrangler/
/infra/catalog-webhook/node_modules/
/infra/catalog-webhook/package.json
/infra/catalog-webhook/package-lock.json

__pycache__/
*.pyc
