*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
*.jks
*.keystore
/catalog/apps/generated/*.json
*.jks.b64
*.keystore.b64
/infra/catalog-webhook/.wrangler/

__pycache__/
*.pyc
